<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Užduoties redagavimas</div>
      <div class="card-body"></div>
      <div class="mb-3">
        <label for="" class="form-label">Užduotis</label>
        <input type="text" class="form-control" [(ngModel)]="taskName" />
        <!-- #taskName, #taskType nauji kintamieji -->
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Užduoties tipas:</label>
        <select class="form-control" [(ngModel)]="taskType">
          <option value="skubu">Skubu</option>
          <option value="neskubu">Neskubu</option>
          <option value="labai skubu">Labai skubu</option>
          <option value="rutininis">Rutininis</option>
        </select>
      </div>
      <button class="btn btn-success" (click)="update()">Atnaujinti</button>
    </div>
  </div>
</div>
